.back{
	margin-right: 10%;
	margin-left: 10%;
	background-color: #f5f5f0;
}

.logo{
	height: 50px;
	width: 70px;
}
.p{
	height: 250px;
	width: 250px;
}
h1{
	text-align: center;
	color: #9494b8;
}
.f{
	height: 50px;
	width: 50px;
}
.pro{
	margin-left: 10%;
	margin-right: 10%;
}
h2{
	text-align: center;
}
.lo{
	height: 200px;
	width: 200px;
	align: center;
}
